<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_-1_-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1238,0},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1377,0},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1516,0},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1655,0},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1794,0},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,185}</string>
                <key>spriteSourceSize</key>
                <string>{137,185}</string>
                <key>textureRect</key>
                <string>{{0,0},{137,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{139,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{278,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{417,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{556,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{695,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{834,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,187}</string>
                <key>spriteSourceSize</key>
                <string>{138,187}</string>
                <key>textureRect</key>
                <string>{{548,0},{138,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{973,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1112,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1251,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,185}</string>
                <key>spriteSourceSize</key>
                <string>{137,185}</string>
                <key>textureRect</key>
                <string>{{137,0},{137,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1390,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1529,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1668,187},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,187}</string>
                <key>spriteSourceSize</key>
                <string>{138,187}</string>
                <key>textureRect</key>
                <string>{{686,0},{138,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{0,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{139,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{278,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,187}</string>
                <key>spriteSourceSize</key>
                <string>{138,187}</string>
                <key>textureRect</key>
                <string>{{824,0},{138,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{417,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{556,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{695,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,185}</string>
                <key>spriteSourceSize</key>
                <string>{137,185}</string>
                <key>textureRect</key>
                <string>{{274,0},{137,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{834,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{973,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1112,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1251,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1390,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1529,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1668,374},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,187}</string>
                <key>spriteSourceSize</key>
                <string>{138,187}</string>
                <key>textureRect</key>
                <string>{{962,0},{138,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{0,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{139,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{278,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,185}</string>
                <key>spriteSourceSize</key>
                <string>{137,185}</string>
                <key>textureRect</key>
                <string>{{411,0},{137,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{417,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{556,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{695,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{834,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{973,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1112,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1251,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,187}</string>
                <key>spriteSourceSize</key>
                <string>{138,187}</string>
                <key>textureRect</key>
                <string>{{1100,0},{138,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1390,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1529,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{139,187}</string>
                <key>textureRect</key>
                <string>{{1668,561},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1933,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fc29dcaffb5ff861a9a115e45be1f77:52bf846593ba482237c18a51dee7ae43:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
