<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maubinh_rocket_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{116,188}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{116,188}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,108},{104,208}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{104,208}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,84},{80,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{80,218}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{76,226}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{76,226}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,166},{76,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{76,218}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,214},{76,208}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{76,208}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,292},{76,188}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{76,188}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{76,226}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{80,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{80,218}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>maubinh_rocket_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{104,208}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{104,208}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maubinh_rocket.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c9052c13c99225e9320af2fa752739b$</string>
            <key>textureFileName</key>
            <string>maubinh_rocket.png</string>
        </dict>
    </dict>
</plist>
