<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,1},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,225},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,449},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,673},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{164,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{1,1793},{161,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bai_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,897},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{327,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{225,1793},{161,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bai_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,1121},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{490,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,1345},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{653,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{816,1569},{161,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{449,1793},{161,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bai_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,222}</string>
                <key>spriteSourceSize</key>
                <string>{161,222}</string>
                <key>textureRect</key>
                <string>{{673,1793},{161,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardPoker.png</string>
            <key>size</key>
            <string>{978,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71046af93e897c6155efb8a4b881ce9a:d4afb23d0f975757547156d4a65c6ffd:e16bebb4652baeb990d408f28232a39e$</string>
            <key>textureFileName</key>
            <string>CardPoker.png</string>
        </dict>
    </dict>
</plist>
